In [1]:
#installing drivers

!pip install dnspython
!pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 4.3 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.0
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)

In [2]:
import pymongo
import json

##Create database

In [3]:
client = pymongo.MongoClient("mongodb+srv://Harikumar:harimongodb@cluster-hari.lvttw.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.Assignment
records=db.Student_Database

In [ ]:
data = []
for line in open('/content/students.json', 'r'):
    data.append(json.loads(line))

In [ ]:
for i in range(len(data)):
  records.insert_one(data[i])

In [ ]:
count=0
for x in records.find():
  count+=1
print("The total number of student documents uploaded in database:",count)

The total number of student documents uploaded in database: 200

##Queries

### 1)      Find the student name who scored maximum scores in all (exam, quiz and homework)?

In [ ]:
for x in records.find({'scores.type':'exam'},{'scores.score':1}):
  print(x)

In [6]:
exam_max=0
exam_dict=dict()

i=0
k=0
for x in records.find({'scores.type':'exam'},{'scores.score':1}):
  exam_dict[i]=(x['scores'][0])
  i+=1
for i in exam_dict.values():
  temp=i['score']
  if temp>exam_max:
    exam_max=temp

for x in records.find({'scores.score':exam_max},{'_id':1,'name':1}):
  out=x
  print("The student who scored maximum in exams is",out['name'],"(id no:",out['_id'],")\nhe scored:",exam_max,"marks")

The student who scored maximum in exams is Margart Vitello (id no: 136 )
he scored: 99.33685767140612 marks

In [ ]:
x=records.find_one({"_id":136})
x

{'_id': 136,
 'name': 'Margart Vitello',
 'scores': [{'score': 99.33685767140612, 'type': 'exam'},
  {'score': 1.25322762871457, 'type': 'quiz'},
  {'score': 66.22827571617455, 'type': 'homework'}]}

In [ ]:
quiz_max=0
quiz_dict=dict()

i=0
k=0
for x in records.find({'scores.type':'exam'},{'scores.score':1}):
  quiz_dict[i]=(x['scores'][1])
  i+=1
for i in quiz_dict.values():
  temp=i['score']
  if temp>quiz_max:
    quiz_max=temp

for x in records.find({'scores.score':quiz_max},{'_id':1,'name':1}):
  out=x
  print("The student who scored maximum in quiz is",out['name'],"(id no:",out['_id'],")\nhe scored:",quiz_max,"marks")

The student who scored maximum in exams is Cody Strouth (id no: 69 )
he scored: 99.80348240553108 marks

In [ ]:
x=records.find_one({"_id":69})
x

{'_id': 69,
 'name': 'Cody Strouth',
 'scores': [{'score': 4.784730508547719, 'type': 'exam'},
  {'score': 99.80348240553108, 'type': 'quiz'},
  {'score': 97.89665889862901, 'type': 'homework'}]}

In [ ]:
hw_max=0
hw_dict=dict()

i=0
k=0
for x in records.find({'scores.type':'exam'},{'scores.score':1}):
  hw_dict[i]=(x['scores'][2])
  i+=1
for i in hw_dict.values():
  temp=i['score']
  if temp>hw_max:
    hw_max=temp

for x in records.find({'scores.score':hw_max},{'_id':1,'name':1}):
  out=x
  print("The student who scored maximum in homework is",out['name'],"(id no:",out['_id'],")\nhe scored:",hw_max,"marks")

The student who scored maximum in exams is Whitley Fears (id no: 178 )
he scored: 99.77237745070993 marks

In [ ]:
x=records.find_one({"_id":178})
x

{'_id': 178,
 'name': 'Whitley Fears',
 'scores': [{'score': 20.84454374176408, 'type': 'exam'},
  {'score': 57.14851257871499, 'type': 'quiz'},
  {'score': 99.77237745070993, 'type': 'homework'}]}

### 2)      Find students who scored below average in the exam and pass mark is 40%?

In [ ]:

out=list()

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][0])
  if y['score']<40:
    name=x['name']
    out.append(name) 
print("Students who scored less than pass mark(40%) in exams are:")
print(*out,sep=',')

Students who scored less than pass mark(40%) in exams are:
aimee Zank,Jenette Flanders,Daphne Zheng,Alix Sherrill,Dodie Staller,Fletcher Mcconnell,Jonie Raby,Edgar Sarkis,Laureen Salomone,Kaila Deibler,Tandra Meadows,Carli Belvins,Synthia Labelle,Richelle Siemers,Mariette Batdorf,Aleida Elsass,Ernestine Macfarland,Lady Lefevers,Barbera Lippman,Alica Pasley,Malisa Jeanes,Danika Loeffler,Joaquina Arbuckle,Dusti Lemmond,Rubie Winton,Kim Xu,Cody Strouth,Harriett Velarde,Leola Lundin,Len Treiber,Echo Pippins,Santiago Dollins,Tonisha Games,Brain Lachapelle,Toshiko Sabella,Ty Barbieri,Ta Sikorski,Lucinda Vanderburg,Darby Wass,Omar Bowdoin,Tania Hulett,Karry Petrarca,aimee Zank,Aurelia Menendez,Bao Ziglar,Jenette Flanders,Salena Olmos,Sanda Ryba,Denisha Cast,Fletcher Mcconnell,Verdell Sowinski,Gisela Levin,Rosana Vales,Tamika Schildgen,Jesusa Rickenbacker,Rudolph Domingo,Jonie Raby,Kaila Deibler,Tandra Meadows,Gwen Honig,Sadie Jernigan,Synthia Labelle,Ernestine Macfarland,Kurtis Jiles,Barbera Lippman,Dinah Sauve,Elizabet Kleine,Joel Rueter,Joaquina Arbuckle,Grady Zemke,Rubie Winton,Whitley Fears,Kim Xu,Merissa Mann,Cody Strouth,Leonida Lafond,Devorah Smartt,Len Treiber,Echo Pippins,Tonisha Games,Timothy Harrod

In [ ]:

out=list()

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][1])
  if y['score']<40:
    name=x['name']
    out.append(name) 
print("Students who scored less than pass mark(40%) in quiz are:")
print(*out,sep=',')

Students who scored less than pass mark(40%) in quiz are:
aimee Zank,Corliss Zuk,Bao Ziglar,Wilburn Spiess,Jenette Flanders,Daphne Zheng,Tambra Mercure,Dodie Staller,Gisela Levin,Margart Vitello,Jesusa Rickenbacker,Rudolph Domingo,Laureen Salomone,Gwyneth Garling,Tandra Meadows,Sadie Jernigan,Synthia Labelle,Rachell Aman,Kayce Kenyon,Houston Valenti,Kurtis Jiles,Dinah Sauve,Elizabet Kleine,Malisa Jeanes,Chad Rahe,Vinnie Auerbach,Vina Matsunaga,Kim Xu,Kam Senters,Leonida Lafond,Devorah Smartt,Adrien Renda,Efrain Claw,Len Treiber,Tonisha Games,Toshiko Sabella,Keesha Papadopoulos,Cassi Heal,Ta Sikorski,Lucinda Vanderburg,Milan Mcgavock,Fleta Duplantis,Beckie Millington,Myrtle Wolfinger,,Aurelia Menendez,Jenette Flanders,Daphne Zheng,Sanda Ryba,Denisha Cast,Marcus Blohm,Alix Sherrill,Tressa Schwing,Rosana Vales,Margart Vitello,Jesusa Rickenbacker,Rudolph Domingo,Jonie Raby,Laureen Salomone,Gwyneth Garling,Tandra Meadows,Carli Belvins,Eugene Magdaleno,Meagan Oakes,Richelle Siemers,Mariette Batdorf,Rachell Aman,Kayce Kenyon,Houston Valenti,Lady Lefevers,Dinah Sauve,Joel Rueter,Danika Loeffler,Chad Rahe,Vinnie Auerbach,Grady Zemke,Vina Matsunaga,Gena Riccio,Merissa Mann,Leonida Lafond,Devorah Smartt,Tonia Surace,Echo Pippins,Santiago Dollins,Tonisha Games,Timothy Harrod

In [ ]:

out=list()

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][2])
  if y['score']<40:
    name=x['name']
    out.append(name) 
print("Students who scored less than pass mark(40%) in homeworks are:")
print(*out,sep=',')

Students who scored less than pass mark(40%) in homeworks are:
aimee Zank,Zachary Langlais,Sanda Ryba,Alix Sherrill,Rosana Vales,Rudolph Domingo,Edgar Sarkis,Meagan Oakes,Ernestine Macfarland,Houston Valenti,Terica Brugger,Kurtis Jiles,Vinnie Auerbach,Rubie Winton,Linnie Weigel,Omar Bowdoin,Milan Mcgavock,Demarcus Audette,Karry Petrarca,Beckie Millington,aimee Zank,Alix Sherrill,Fletcher Mcconnell,Gisela Levin,Eugene Magdaleno,Aleida Elsass,Alica Pasley,Linnie Weigel,Rae Kohout

###3)      Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

In [7]:

out=list()
fail= { "$set": { 'Result':'Fail' } }
pas={ "$set": { 'Result':'Pass'} }

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][0])
  if y['score']<40:
    out.append(x['_id'])


for i in range(200):
  fail= { "$set": { 'Result.Result_exam':'Fail' } }
  pas={ "$set": { 'Result.Result_exam':'Pass'} }
  query={"_id":i}
  if i in out:
    records.update_one(query,fail)
  else:
    records.update_one(query,pas)   
x=records.find_one()
x

{'Result': {'Result_exam': 'Fail',
  'Result_homework': 'Fail',
  'Result_quiz': 'Fail'},
 '_id': 0,
 'name': 'aimee Zank',
 'scores': [{'score': 1.463179736705023, 'type': 'exam'},
  {'score': 11.78273309957772, 'type': 'quiz'},
  {'score': 35.8740349954354, 'type': 'homework'}]}

In [ ]:
q={}
up={'$unset': { 'Result': "" }}
records.update_many(q,up)

In [ ]:
out=list()


for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][1])
  if y['score']<40:
    out.append(x['_id'])


for i in range(200):
  fail= { "$set": { 'Result.Result_quiz':'Fail' } }
  pas={ "$set": { 'Result.Result_quiz':'Pass'} }
  query={"_id":i}
  if i in out:
    records.update_one(query,fail)
  else:
    records.update_one(query,pas)

In [ ]:
out=list()


for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][2])
  if y['score']<40:
    out.append(x['_id'])


for i in range(200):
  fail= { "$set": { 'Result.Result_homework':'Fail' } }
  pas={ "$set": { 'Result.Result_homework':'Pass'} }
  query={"_id":i}
  if i in out:
    records.update_one(query,fail)
  else:
    records.update_one(query,pas)

###4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.

In [11]:
total_exam=0
avg_exam=0
total_quiz=0
avg_quiz=0
total_hw=0
avg_hw=0
for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][0])
  total_exam+= y['score']
  avg_exam=(total_exam/200)

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][1])
  total_quiz+= y['score']
  avg_quiz=(total_quiz/200)

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][2])
  total_hw+= y['score']
  avg_hw=(total_hw/200)

collection_tot_avg={"_id":212,"Total":{"exam":total_exam,"quiz":total_quiz,"homework":total_hw},
                    "Average":{"exam":avg_exam,"quiz":avg_quiz,"homework":avg_hw}}


records.insert_one(collection_tot_avg)

In [12]:
x=records.find_one({"_id":212},{})
x

{'Average': {'exam': 48.673670759501775,
  'homework': 67.81869620661146,
  'quiz': 48.99672319430255},
 'Total': {'exam': 9734.734151900355,
  'homework': 13563.739241322293,
  'quiz': 9799.34463886051},
 '_id': 212}

###5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

In [ ]:
out_exam=list()
out_quiz=list()
out_hw=list()

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][0])
  if 40<y['score']<avg_exam:
    out_exam.append(x['name'])


for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][1])
  if 40<y['score']<avg_exam:
    out_quiz.append(x['name'])

for x in records.find({'scores.type':'exam'},{'name':1,'scores.score':1}):
  y=(x['scores'][2])
  if 40<y['score']<avg_exam:
    out_hw.append(x['name'])

collection2={"_id":204,"collection2":"students scored below average and above 40%",
             "student_list":{"exam":out_exam,"quiz":out_quiz,"homework":out_hw}}

records.insert_one(collection2)

In [ ]:
x=records.find_one({"_id":204})
x

{'_id': 204,
 'collection2': 'students scored below average and above 40%',
 'student_list': {'exam': ['Wilburn Spiess',
   'Denisha Cast',
   'Gisela Levin',
   'Tressa Schwing',
   'Rosana Vales',
   'Tamika Schildgen',
   'Gwyneth Garling',
   'Kayce Kenyon',
   'Terica Brugger',
   'Chad Rahe',
   'Jenise Mcguffie',
   'Cassi Heal',
   'Demarcus Audette',
   'Flora Duell',
   'Quincy Danaher',
   'Alix Sherrill',
   'Laureen Salomone',
   'Gwyneth Garling',
   'Aleida Elsass',
   'Alica Pasley',
   'Malisa Jeanes',
   'Harriett Velarde',
   'Mariela Sherer'],
  'homework': ['Bao Ziglar',
   'Tambra Mercure',
   'Jonie Raby',
   'Lady Lefevers',
   'Vina Matsunaga',
   'Gena Riccio',
   'Harriett Velarde',
   'Tonia Surace',
   'Toshiko Sabella',
   'Jaclyn Morado',
   'Nobuko Linzey',
   'Synthia Labelle',
   'Joel Rueter',
   'Len Treiber'],
  'quiz': ['Salena Olmos',
   'Terica Brugger',
   'Danika Loeffler',
   'Joaquina Arbuckle',
   'Rubie Winton',
   'Brain Lachapelle',
   'Osvaldo Hirt',
   'Demarcus Audette',
   'Mercedez Garduno',
   'Karry Petrarca',
   'Flora Duell',
   'Salena Olmos',
   'Tambra Mercure',
   'Verdell Sowinski',
   'Sadie Jernigan',
   'Elizabet Kleine',
   'Kam Senters',
   'Leola Lundin',
   'Mariela Sherer']}}

###6)      Create a new collection which consists of students who scored below the fail mark in all the categories.

In [ ]:
out=list()
for x in records.find({"Result.Result_exam":"Fail","Result.Result_quiz":"Fail","Result.Result_homework":"Fail"},{"name":1}):
  out.append(x['name'])


collection3={"_id":206,"collection3":"students who failed in all categories","student_list":out}

records.insert_one(collection3)

In [ ]:
x=records.find_one({"_id":206})
x

{'_id': 206,
 'collection3': 'students who failed in all categories',
 'student_list': ['aimee Zank']}

###7)      Create a new collection which consists of students who scored above pass mark in all the categories.

In [ ]:
out=list()
for x in records.find({"Result.Result_exam":"Pass","Result.Result_quiz":"Pass","Result.Result_homework":"Pass"},{"name":1}):
  out.append(x['name'])


collection4={"_id":208,"collection3":"students who scored bove pass in all categories","student_list":out}

records.insert_one(collection4)

In [ ]:
x=records.find_one({"_id":208})
x

{'_id': 208,
 'collection3': 'students who scored bove pass in all categories',
 'student_list': ['Aurelia Menendez',
  'Salena Olmos',
  'Denisha Cast',
  'Marcus Blohm',
  'Quincy Danaher',
  'Jessika Dagenais',
  'Verdell Sowinski',
  'Tressa Schwing',
  'Tamika Schildgen',
  'Gwen Honig',
  'Eugene Magdaleno',
  'Tawana Oberg',
  'Joel Rueter',
  'Tresa Sinha',
  'Grady Zemke',
  'Whitley Fears',
  'Gena Riccio',
  'Merissa Mann',
  'Jenise Mcguffie',
  'Tonia Surace',
  'Mariela Sherer',
  'Timothy Harrod',
  'Rae Kohout',
  'Osvaldo Hirt',
  'Maren Scheider',
  'Carli Ector',
  'Jaclyn Morado',
  'Mercedez Garduno',
  'Brittny Warwick',
  'Shin Allbright',
  'Mikaela Meidinger',
  'Flora Duell',
  'Nobuko Linzey',
  'Gennie Ratner',
  'Corliss Zuk',
  'Zachary Langlais',
  'Wilburn Spiess',
  'Quincy Danaher',
  'Jessika Dagenais',
  'Tambra Mercure',
  'Dodie Staller',
  'Edgar Sarkis',
  'Terica Brugger',
  'Tawana Oberg',
  'Malisa Jeanes',
  'Tresa Sinha',
  'Dusti Lemmond',
  'Jenise Mcguffie',
  'Harriett Velarde',
  'Kam Senters',
  'Leola Lundin',
  'Adrien Renda',
  'Efrain Claw',
  'Mariela Sherer']}