In [1]:
!pip install dnspython
!pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 5.3 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.0
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)

##Create

In [5]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://Harikumar:harimongodb@cluster-hari.lvttw.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db=client['Assignment']
records=db.Telephone_Directory

In [15]:
#inserting collection to database
tel_list=[
          {"Name":"Adarsh","Age":18,"Phone":4792451234,"Place":'tvla'},
          {"Name":'Adarsh',"Age":18,"Phone":4792452345,"Place":'tvla'},
          {"Name":'Bimal',"Age":26,"Phone":4792453456,"Place":'ktym'},
          {"Name":'Devu',"Age":27,"Phone":4792455678,"Place":'tvm'},
          {"Name":'Hari',"Age":30,"Phone":4792457890,"Place":'klm'},
          {"Name":'Bwind',"Age":32,"Phone":4792458910,"Place":'alp'}
]
records.insert_many(tel_list)

##Retrieve

In [16]:
#quering single collection
x=records.find_one()     
print(x)

{'_id': ObjectId('621d05d24606cce4d9445aa3'), 'Name': 'Adarsh', 'Age': 18, 'Phone': 4792451234, 'Place': 'tvla'}

In [17]:
#quering all collections
for x in records.find():
  print(x)

{'_id': ObjectId('621d05d24606cce4d9445aa3'), 'Name': 'Adarsh', 'Age': 18, 'Phone': 4792451234, 'Place': 'tvla'}
{'_id': ObjectId('621d05d24606cce4d9445aa4'), 'Name': 'Adarsh', 'Age': 18, 'Phone': 4792452345, 'Place': 'tvla'}
{'_id': ObjectId('621d05d24606cce4d9445aa5'), 'Name': 'Bimal', 'Age': 26, 'Phone': 4792453456, 'Place': 'ktym'}
{'_id': ObjectId('621d05d24606cce4d9445aa6'), 'Name': 'Devu', 'Age': 27, 'Phone': 4792455678, 'Place': 'tvm'}
{'_id': ObjectId('621d05d24606cce4d9445aa7'), 'Name': 'Hari', 'Age': 30, 'Phone': 4792457890, 'Place': 'klm'}
{'_id': ObjectId('621d05d24606cce4d9445aa8'), 'Name': 'Bwind', 'Age': 32, 'Phone': 4792458910, 'Place': 'alp'}

##Update

In [18]:
#updating information in a collection

query={"Name":"Bimal"}
update={"$set":{"Age":28,"Place":'knr'}}

records.update_one(query,update)

for x in records.find():
  print(x)

{'_id': ObjectId('621d05d24606cce4d9445aa3'), 'Name': 'Adarsh', 'Age': 18, 'Phone': 4792451234, 'Place': 'tvla'}
{'_id': ObjectId('621d05d24606cce4d9445aa4'), 'Name': 'Adarsh', 'Age': 18, 'Phone': 4792452345, 'Place': 'tvla'}
{'_id': ObjectId('621d05d24606cce4d9445aa5'), 'Name': 'Bimal', 'Age': 28, 'Phone': 4792453456, 'Place': 'knr'}
{'_id': ObjectId('621d05d24606cce4d9445aa6'), 'Name': 'Devu', 'Age': 27, 'Phone': 4792455678, 'Place': 'tvm'}
{'_id': ObjectId('621d05d24606cce4d9445aa7'), 'Name': 'Hari', 'Age': 30, 'Phone': 4792457890, 'Place': 'klm'}
{'_id': ObjectId('621d05d24606cce4d9445aa8'), 'Name': 'Bwind', 'Age': 32, 'Phone': 4792458910, 'Place': 'alp'}

##Delete

In [19]:
query = { "Name": "Adarsh" }      #selecting collection to be deleted
 
records.delete_one(query)

for x in records.find():
  print(x)

{'_id': ObjectId('621d05d24606cce4d9445aa4'), 'Name': 'Adarsh', 'Age': 18, 'Phone': 4792452345, 'Place': 'tvla'}
{'_id': ObjectId('621d05d24606cce4d9445aa5'), 'Name': 'Bimal', 'Age': 28, 'Phone': 4792453456, 'Place': 'knr'}
{'_id': ObjectId('621d05d24606cce4d9445aa6'), 'Name': 'Devu', 'Age': 27, 'Phone': 4792455678, 'Place': 'tvm'}
{'_id': ObjectId('621d05d24606cce4d9445aa7'), 'Name': 'Hari', 'Age': 30, 'Phone': 4792457890, 'Place': 'klm'}
{'_id': ObjectId('621d05d24606cce4d9445aa8'), 'Name': 'Bwind', 'Age': 32, 'Phone': 4792458910, 'Place': 'alp'}